*{box-sizing:border-box;}
body{
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 1.6;
}
.home-wrapper{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/Skyline.jpeg')no-repeat center top;
	background-size: cover;
	color: white;
	height: 700px;

}
header {	
	width: 100%;
	z-index: 999;
}
#myNavbar{
	background-color: rgba(48, 48, 48, 0.7);
}
header nav a{
	color:white;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 15px ;

}
header nav a.active{
	background: #D1CEDD;
	border-radius: 3px;
}


#home{
	text-align: center;
	padding: 100px 0 150px;
}
#home h1{
	color: white;
	font-size: 98px;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 15px;
}
#home .divider{
	width: 80px;
	border-top: 5px solid #fed136;
	margin: 0 auto;
}
#home em{
	font-size: 24px;
	color: #D1CEDD;
}
#home .btn{
	margin-top: 75px;
}
#home .social{
	margin-top: 60px;
}
#home .social a{
	color: white;
	display: inline-block;
	border-radius: 50%;
	background-color: #388CE8;
	font-size: 24px;
	font-weight: bold;
	height: 43px;
	width: 43px;
	line-height: 50px;
	margin-right: 10px;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}
#home .social a:hover{
	background-color: #1624E9;
}
/*Services*/
.row{
	padding-left: 10px;
	padding-right: 10px;

}
#services .box{
	display: inline-block;
	text-align: center;
	width: 18%;
	padding: 10px 5px 10px 20px;

}
#services h1{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}
.bg-info{
	height: 300px;	
}

/*Staff*/
#staff {
	padding-top: 10px;
	padding-bottom: 30px;
	z-index: -2;
	background-color: lightgrey;
}

/*-- Contact --*/
#contacto{
	text-align: center;
	padding-top: 10px;
	background-color: #15243D;
	background-image: url('../images/map-image.png');
	background-position: center;
	background-repeat:no-repeat;
}
#contacto h2{
	color: white;
}
#contacto p{
	text-align: justify;
}
#contacto input{
	padding: 20px;
	margin-bottom:5px;
	width: auto;
	max-width: 400px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
#contacto textarea{
	margin: 20px 0;
	padding: 20px;
	border: 1px solid #ccc;
}

 .page-header{
 	padding-top: 20px;
 }
input#name , input#email , textarea#comments {
	font-family: 'Open Sans', sans-serif;
	border-radius:0px;
}
footer{
	background-color: rgb(48, 48, 48);
	text-align: justify;
	padding-top: 10px;
	color: #8F9191;
}
footer .page-header{
	margin-top: 0px;
}
#developedby{
	text-align: right;
}

